<p>
  <strong>First Name:</strong>
  <%= @classmate.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @classmate.last_name %>
</p>

<p>
  <strong>Portfolio URL:</strong>
  <%= @classmate.portfolio_url %>
</p>

<p>
  <strong>Current City:</strong>
  <%= @classmate.location %>
</p>
